<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="topo"></header>
    <main class="posts">
        <section class="post__new">
                <textarea name="" id="" cols="30" rows="10" placeholder="Comece seu post incrível!"></textarea>
                <button class="btn__novoPost">+</button>
        </section>
        <section class="post__recent"></section>
    </main>
    <script type="module" src="../js/dashboard.js"></script>
</body>
</html>