<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__container">
            <div class="header__userAvatar"></div>
            <h2 class="header__userName"></h2>
        </div>
        <button class="btnLogout">Logout</button>
    </header>
    <main>
        <section class="card-post__newPost">
                <textarea name="" id="" cols="30" rows="10" placeholder="Comece seu post incrível!"></textarea>
                <button class="btn__novoPost">+</button>
        </section>
        <section class="card-post__recentPost"></section>
    </main>
</body>
</html>