body{
    font-family: var(--font-textoPrincipal);
    background-color: rgb(var(--color-gray-light));
}
.topo{
    background-color: rgb(var(--color-blue));
    height: 3.8rem;
    margin-bottom: 1.375rem;
}
.topo__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    background-color: inherit;
    margin-bottom: inherit;
}

.topo__container > div {
    display: flex;
    align-items: center;
}
.topo__userAvatar{
    width: 3rem;
    height: 2.875rem;
    margin-left: 0.875rem;
    margin-right: 0.6rem;
}
.topo__userAvatar > img{
    border-radius: 100%;
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.topo__userName{
    color: rgb(var(--color-white));
    font-size: 1.25rem;
    font-weight: 700;
}
.btn__logout{
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-yellow));
    height: 1.875rem;
    width: 6rem;
    margin-right: 2.5rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.25rem 1rem;
    cursor: pointer;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post__new{
    width: 37.5rem;
}

.post__new > form {
     display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.post__new > form > textarea{
    width: 32.5rem;
    height: 6rem;
}
.btn__novoPost{
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
    border-radius: 0.25rem;
    cursor: pointer;
    border: transparent;
}
.btn__logout:hover, .btn__novoPost:hover{
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-yellow));
    border: 1px solid rgb(var(--color-yellow));
}